<!-- 3 -->
<section class="all-content-page">
    <app-header></app-header>
    <main>
        <div class="wrapper-posts tab-menu">
            <!-- TAB LEFT CONTENT  -->
           <app-wrapper-left></app-wrapper-left>
            <!-- END TAB LEFT CONTENT -->
            <div class="main-content active wrapper-search">
                <div class="range-search-input filter-result">
                    <div class="search-input">
                        <div class="range-input-key">
                            <input type="text" [(ngModel)]="searchKeyword" placeholder="Nhập từ khóa tìm kiếm">
                            <button class="btn-search-input-filter" (click)="searchUsers(searchKeyword)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="tab-filter">
                        <button class="fl-user"  (click)="showUsers = true; showPosts = false">
                            nguoi dung
                        </button>
                        <button class="fl-post" (click)="showUsers = false; showPosts = true">
                            bai viet
                        </button>
                    </div>
                    <div class="search-advance" *ngIf="showPosts">
                        <div class="item-advance">
                            <label for="">Ngay dang</label>
                            <select name="" id="">
                                <option value="1">Moi nhat</option>
                                <option value="2">Cu nhat</option>
                            </select>
                        </div>
                        <div class="item-advance">
                            <label for="">Bai viet tu</label>
                            <select name="" id="">
                                <option value="1">Ban be</option>
                                <option value="2">Nguoi khac</option>
                                <option value="3">Tat ca</option>
                            </select>
                        </div>

                    </div>
                </div>
                <section class="result-content">
                    <div class="result-search-list-user"  *ngIf="showUsers">
                        <div class="result-list-user" *ngFor="let user of users">
                            <a href="" class="item-result-user">
                                <img src="/assets/images/no-image.jpg" alt="">
                                <article>{{ user.name }}</article>
                            </a>
                        </div>
                    </div>
                    <div *ngIf="noUsersFound" class="no-users-message">
                        Không tìm thấy người dùng nào.
                    </div>
                    <div class="result-search-list-post" *ngIf="showPosts">
                        <title></title>
                        <div class="result-list-post">
                            <div class="item-post">
                                <div class="user-post-info">
                                    <section class="user-post-info-1">
                                        <a class="user-avatat-post" href="">
                                            <img class="user-post-image-link" src="./assets/images/no-image.jpg" alt="">
                                        </a>
                                        <div class="user-info-detait-post">
                                            <a href="" class="user-name-post">Tran Thanh Quang</a>
                                            <a href="" class="time-name-post">20:00h today</a>
                                        </div>
                                    </section>
                                    <section class="user-post-info-2">
                                        <button class="btn-block-post"><i class="fa-solid fa-x"></i></button>
                                    </section>
                                </div>
                                <div class="user-post-content">
                                    <div class="user-post-all-content">
                                        <span>
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa autem
                                            debitis
                                            praesentium et, sint totam, incidunt harum minus vitae temporibus
                                            veritatis
                                            sit
                                            ad.
                                            Enim rem asperiores nam obcaecati minima repudiandae.</span>
                                        <span class="user-post-see-more">...See more</span>
                                    </div>
                                </div>

                                <div class="user-post-image">
                                    <div class="user-post-single-image">
                                        <a href=""><img src="./assets/images/no-image.jpg" alt=""></a>
                                    </div>
                                    <!-- <div class="user-post-multi-image">
                        <div class="item-image-multi"><img src="./assets/images/no-image.jpg" alt=""></div>
                    </div> -->
                                </div>
                                <div class="qty-interact-post">
                                    <div class="qty-interact qty-likes">
                                        <span>999</span>
                                        <div class="list-interact-icon">
                                            <i style="z-index: 3;" class="icon-post-like fa-solid fa-thumbs-up"></i>
                                            <!-- <i style="z-index: 2; left: 10px;"
                                class="icon-post-smile fa-solid fa-face-laugh-beam"></i>
                            <i style="z-index: 1; left: 20px;"
                                class="icon-post-hate fa-solid fa-hand-middle-finger"></i> -->
                                        </div>
                                    </div>
                                    <div class="qty-interact qty-cmt">
                                        <span>999</span>
                                        <div class="list-interact-icon">
                                            <span>binh luan</span>

                                        </div>
                                    </div>
                                    <div class="qty-interact qty-share">
                                        <span>999</span>
                                        <div class="list-interact-icon">
                                            <span>chia se</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="range-interact-post">
                                    <button class="btn-interact-post-like">
                                        <i class="icon-post-like active  fa-solid fa-thumbs-up"></i>
                                        <i class="icon-post-like  fa-regular fa-thumbs-up"></i>
                                        <span>like</span>
                                    </button>
                                    <button class="btn-interact-post-comment">
                                        <i class="fa-regular fa-comment"></i>
                                        <span>binh luan</span>
                                    </button>
                                    <button class="btn-interact-post-share">
                                        <i class="fa-regular fa-share-from-square"></i>
                                        <span>chia se</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
           <app-wrapper-right></app-wrapper-right>
        </div>
    </main>
    <app-footer></app-footer>
    <app-modal-edit-post></app-modal-edit-post>
    <app-modal-create-post></app-modal-create-post>
</section>