<app-header></app-header>
<main style="display: block" id="main-profile-user">
  <div class="background-profile" *ngFor="let avatars of avatar">
    <div class="profile-image" *ngIf="avatars.url; else noImage">
      <img src="assets/images/{{ avatars.url }}" alt="" />
    </div>
    <ng-template #noImage>
      <div class="profile-image">
        <img src="assets/images/no-image.jpg" alt="" />
      </div>
    </ng-template>
    <div class="profile-name" *ngIf="user">
      <article>{{ user.name }}</article>
    </div>
    <div class="feature-user-range" *ngIf="!isOwner">
      <button *ngIf="!isFriend"><i class="fa-solid fa-user-plus"></i></button> <!-- Kết bạn -->
      <button *ngIf="isFriend"><i class="fa-solid fa-user-minus"></i></button> <!-- Hủy kết bạn -->
      <button><i class="fa-regular fa-comments"></i></button> <!-- Nhắn tin -->
      <button><i class="fa-solid fa-ban"></i></button> <!-- Chặn -->
    </div>
    
  </div>
  <div class="main-content-profile">
    <!-- USER INFO  -->
    <div class="profile-detail" *ngIf="isOwner">
      <article>About you</article>
      <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
        <div class="profile-detail-range" *ngIf="user">
          <div class="input-profile-range">
            <label for="">Name</label>
            <input type="text" formControlName="name" />
            <div *ngIf="
                profileForm.get('name')?.invalid &&
                (profileForm.get('name')?.dirty ||
                  profileForm.get('name')?.touched)
              ">
              <small *ngIf="profileForm.get('name')?.errors?.['invalidInput']">Thông tin nhập vào không hợp lệ!</small>
              <small *ngIf="profileForm.get('name')?.errors?.['specialChars']">Tên không được chứa ký tự đặc biệt hoặc
                số!</small>
              <small *ngIf="profileForm.get('name')?.errors?.['maxLength']">Vui lòng nhập thông tin dưới 30 ký
                tự!</small>
              <small *ngIf="profileForm.get('name')?.errors?.['invalidFormat']">Tên không được bắt đầu, kết thúc bằng
                khoảng trắng và không có
                2 khoảng trắng liên tiếp!</small>
            </div>
          </div>

          <div class="input-profile-range">
            <label for="">Age</label>
            <input type="number" formControlName="age" />
            <div *ngIf="
                profileForm.get('age')?.invalid &&
                (profileForm.get('age')?.dirty ||
                  profileForm.get('age')?.touched)
              ">
              <small *ngIf="profileForm.get('age')?.errors?.['ageInvalid']">Số tuổi của bạn nhập phải từ 16 đến 100
                tuổi!</small>
              <small *ngIf="profileForm.get('age')?.errors?.['invalidInput']">Thông tin nhập vào không hợp lệ!</small>
            </div>
          </div>
          <div class="input-profile-range">
            <label for="">Email</label>
            <input type="email" value="{{ user.email }}" disabled />
            <!-- Email không cần update, tạm thời không sử dụng formControlName -->
          </div>
          <div class="input-profile-range">
            <label for="">Gender</label>
            <select formControlName="gender">
              <option value="">Chọn giới tính</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
            <div *ngIf="
                profileForm.get('gender')?.invalid &&
                (profileForm.get('gender')?.dirty ||
                  profileForm.get('gender')?.touched)
              ">
              <small>Bạn chưa chọn giới tính.</small>
            </div>
          </div>

          <div class="input-profile-range">
            <label for="">Phone</label>
            <input type="text" formControlName="phone" />
            <div *ngIf="
                profileForm.get('phone')?.invalid &&
                (profileForm.get('phone')?.dirty ||
                  profileForm.get('phone')?.touched)
              ">
              <small *ngIf="profileForm.get('phone')?.errors?.['invalidInput']">Thông tin nhập vào không hợp lệ!</small>
              <small *ngIf="profileForm.get('phone')?.errors?.['phoneInvalid']">Độ dài của SDT không phù hợp!</small>
              <small *ngIf="profileForm.get('phone')?.errors?.['phoneExists']">SDT này đã tồn tại, vui lòng nhập SDT
                khác!</small>
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="profileForm.invalid">Update</button>
      </form>

      <form (ngSubmit)="changePassword()">
        <h5>Change Password</h5>
        <div class="profile-detail-range">
          <div class="input-profile-range">
            <label for="oldPassword">Old Password</label>
            <input id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" type="text" required />
          </div>
          <div class="input-profile-range">
            <label for="newPassword">New Password</label>
            <input id="newPassword" [(ngModel)]="newPassword" name="newPassword" (input)="validateNewPassword()"
              type="text" required />
            <div *ngIf="newPasswordError" class="error">
              {{ newPasswordError }}
            </div>
          </div>
          <div class="input-profile-range">
            <label for="repeatNewPassword">Repeat New Password</label>
            <input id="repeatNewPassword" [(ngModel)]="repeatNewPassword" name="repeatNewPassword"
              (input)="validateRepeatPassword()" type="text" required />
            <div *ngIf="repeatPasswordError" class="error">
              {{ repeatPasswordError }}
            </div>
          </div>
        </div>
        <button type="submit">Change</button>
      </form>

      <button (click)="onLogout()" class="btn-user-logout">Logout</button>
    </div>
    <div class="profile-detail" *ngIf="!isOwner">
      <article>About you</article>
      <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
        <div class="profile-detail-range" *ngIf="user">
          <div class="input-profile-range">
            <label for="">Name</label>
            <input type="text" value="{{ user.name }}" disabled />
            <!-- Sử dụng formControlName -->
          </div>
          <div class="input-profile-range">
            <label for="">Age</label>
            <input type="number" value="{{ user.age }}" disabled />
            <!-- Sử dụng formControlName -->
          </div>
          <div class="input-profile-range">
            <label for="">Gender</label>
            <input type="text" value="{{ user.gender }}" disabled />
            <!-- Sử dụng formControlName -->
          </div>
          <div class="input-profile-range">
            <label for="">Email</label>
            <input type="email" value="{{ user.email }}" disabled />
            <!-- Email không cần update, tạm thời không sử dụng formControlName -->
          </div>
          <div class="input-profile-range">
            <label for="">Phone</label>
            <input type="text" value="{{ user.phone }}" disabled />
            <!-- Sử dụng formControlName -->
          </div>
        </div>
      </form>
    </div>

    <!--END USER INFO  -->
    <div class="profile-list-post" *ngIf="posts && posts.length > 0; else noPosts">
      <!-- ITEM POST -->
      <div class="item-post" *ngFor="let post of posts">
        <div class="user-post-image" *ngIf="post.post_type === 'shared'">
          <div class="user-sharer-info">
              <span>Được chia sẻ bởi: {{ post.sharer_name }}</span> <!-- Hiển thị tên người đã chia sẻ -->
          </div>
      </div>
        <div class="user-post-info">
          <section class="user-post-info-1">
            <a class="user-avatat-post" href="" *ngFor="let avatars of avatar">
              <img class="user-post-image-link" *ngIf="avatars.url; else noImage"
                src="./assets/images/{{ avatars.url }}" alt="" />
            </a>
            <ng-template #noImage>
              <a class="user-avatat-post" href="">
                <img class="user-post-image-link" src="./assets/images/no-image.jpg" alt="" />
              </a>
            </ng-template>

            <div class="user-info-detait-post">
              <a href="" class="user-name-post">{{ post.name }}</a>
              <a href="" class="time-name-post">{{ formatDate(post.post_created_at) }}</a>
            </div>
          </section>
          <section class="user-post-info-2">
            <button class="btn-close-post-detail" data-bs-target="#modal-edit-post" data-bs-toggle="modal">
              Edit
            </button>
            <button class="btn-close-post-detail">Delete</button>
          </section>
        </div>
        <div class="user-post-content">
          <div class="user-post-all-content">
            <span> {{ post.post_content }}</span>
            <span class="user-post-see-more"></span>
          </div>
        </div>

        <div class="user-post-image" *ngIf="post.post_image_url; else noImage1">
          <div class="user-post-single-image">
            <a href=""><img src="./assets/images/{{ post.post_image_url }}" alt="" /></a>
          </div>
        </div>
        <ng-template #noImage1>
          <div class="user-post-image">
            <div class="user-post-single-image">
              <a href=""><img src="./assets/images/no-image.jpg" alt="" /></a>
            </div>
          </div>
        </ng-template>

        <div class="qty-interact-post">
          <div class="qty-interact qty-likes">
            <span>{{ post.total_likes ||0}}</span>
            <div class="list-interact-icon">
              <i style="z-index: 3" class="icon-post-like fa-solid fa-thumbs-up"></i>
            </div>
          </div>
          <div class="qty-interact qty-cmt">
            <span>{{ post.cmt_count || 0 }}</span>
            <div class="list-interact-icon">
              <span>Comment</span>
            </div>
          </div>
          <div class="qty-interact qty-share">
            <span>{{ post.share_count || 0 }}</span>
            <div class="list-interact-icon">
              <span>Share</span>
            </div>
          </div>
        </div>
        <div class="range-interact-post">
          <button class="btn-interact-post-like" (click)="likePostId(post.id)">
            <i [ngClass]="{
                'fa-solid ': post.liked,
                'fa-regular ': !post.liked
              }" class="icon-post-like active fa-thumbs-up"></i>
            <span>{{ post.likesCount}} Likes</span>
          </button>

          <button class="btn-interact-post-comment" (click)="navigateToPostDetail(post.id)">
            <i class="fa-regular fa-comment"></i>
            <span>binh luan</span>
          </button>
          <button class="btn-interact-post-share" (click)="sharePost(post.post_id)">
            <i class="fa-regular fa-share-from-square"></i>
            <span>chia se</span>
          </button>
        </div>
      </div>
      <!-- END ITEM POST  -->
    </div>
  </div>
  <ng-template #noPosts>
    <p>Chưa có bài viết</p>
  </ng-template>
</main>
<app-modal-edit-post></app-modal-edit-post>
<app-modal-create-post></app-modal-create-post>