<div class="left-content">
  <section class="left-space"></section>
  <section class="content-left-space">
    <div class="list-hint-user">
      <article>Goi y ban be</article>

      <div class="item-hint"*ngFor="let i of listHint">
        <img class="item-hint-image"  [src]="i.avatar ? '/assets/images/' + i.avatar : '/assets/images/no-image.jpg'" alt="" />

        <div class="item-hint-info">
          <span class="item-hint-info-name"> {{i.friend_name}} </span>
        </div>
        <div class="item-respon-hint">
          <button class="item-add-user">
            <i class="fa-solid fa-user-plus"></i>
          </button>
          <button class="item-block-user">
            <i class="fa-solid fa-ban"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
