<!-- 3 -->
<div class="notification-sys" *ngIf="error" id="notification-sys">
  <button (click)="closeNotification()">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <span>{{ notify_message }}</span>
</div>
<section class="all-content-page">
  <app-header></app-header>
  <main>
    <div class="wrapper-posts tab-menu">
      <!-- TAB LEFT CONTENT  -->
      <app-wrapper-left></app-wrapper-left>
      <!-- END TAB LEFT CONTENT -->
      <!-- Danh sách phòng chat -->
      <div class="main-content active list-friend-chat" *ngIf="!selectedRoom">
        <h3>Tin nhắn của bạn</h3>
        <section *ngIf="!is_list_chat" else loadListChat>
          <div
            class="info-friend-chat"
            *ngIf="chatRooms.length > 0; else noChatRooms"
          >
            <div
              *ngFor="let room of chatRooms"
              class="item-info-friend-chat"
              (click)="openChat(room)"
            >
              <div class="item-friend-image-chat">
                <img
                  *ngIf="room.user2_avatar; else noAvatar"
                  src="{{ path_media }}/image/{{ room.user2_avatar }}"
                  alt="User Avatar"
                />
              </div>
              <ng-template #noAvatar>
                <div class="item-friend-image-chat">
                  <img src="/assets/images/no-image.jpg" alt="No Avatar" />
                </div>
              </ng-template>
              <div class="item-friend-info-chat">
                <span>{{ room.name }}</span>
                <span>{{
                  room.status == 1 ? "Đang hoạt động" : "Không hoạt động"
                }}</span>
              </div>
            </div>
          </div>
          <ng-template #noChatRooms>
            <p>Không có phòng chat nào.</p>
          </ng-template>
        </section>
        <ng-template #loadListChat> Dang load list chat </ng-template>

        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
      </div>
      <!-- Nội dung chat -->
      <div class="main-content active wrapper-chat" *ngIf="selectedRoom">
        <div class="info-friend-chat">
          <button (click)="goBack()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </button>
          <div class="item-info-friend-chat">
            <div class="item-friend-image-chat">
              <img
                src="{{ path_media }}/image/{{ avatar_user2 }}"
                alt="Friend Image"
              />
            </div>
            <div class="item-friend-info-chat">
              <span>{{ name_user2 }}</span>
              <span>{{
                selectedRoom?.status === "1"
                  ? "Đang hoạt động"
                  : "Không hoạt động"
              }}</span>
            </div>
          </div>
        </div>
        <div class="range-chat-content messages-container" #messagesContainer>
          <ng-container
            *ngIf="messages?.length; else noMessages"
            #chatContainer
            class="chat-container"
          >
            <div
              *ngFor="let message of messages"
              [ngClass]="{
                'content-user-chat': message.user_id == userId,
                'content-friend-chat': message.user_id != userId
              }"
            >
              <div class="item-friend-image-chat">
                <img
                  *ngIf="message.user_avatar; else noAvatarMes"
                  src="{{ path_media }}/image/{{ message.user_avatar }}"
                  alt="User Avatar"
                />
              </div>
              <ng-template #noAvatarMes>
                <div class="item-friend-image-chat">
                  <img src="/assets/images/no-image.jpg" alt="No Avatar" />
                </div>
              </ng-template>
              <article>{{ message.content }}</article>
            </div>
            <div #scrollToEnd></div>
          </ng-container>
          <ng-template #noMessages>
            <div class="no-messages">Không có tin nhắn nào.</div>
          </ng-template>

          <div class="range-user-chat-input">
            <form
              (ngSubmit)="sendMessage()"
              #messageForm="ngForm"
              class="message-form"
            >
              <textarea
                name="message"
                placeholder="Nhập tin nhắn..."
                required
                [(ngModel)]="newMessage"
                class="message-input"
              ></textarea>
              <button
                type="submit"
                [disabled]="!newMessage"
                class="send-button"
              >
                <i class="fa-regular fa-paper-plane"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- END TAB RESULT SEARCH -->
      <app-wrapper-right></app-wrapper-right>
    </div>
  </main>
  <!-- <app-footer></app-footer> -->
  <div
    class="modal fade"
    s
    id="modal-created-post"
    tabindex="-1"
    aria-hidden="true"
  >
    <form action="" method="get" class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create post</h5>
        </div>
        <div class="modal-body">
          <div class="modal-user-post-info">
            <section class="modal-user-post-info-1">
              <a class="modal-user-avatat-post" href="">
                <img
                  class="modal-user-post-image-link"
                  src="./assets/images/no-image.jpg"
                  alt=""
                />
              </a>
              <div class="modal-user-info-detait-post">
                <article class="modal-user-name-post">Tran Thanh Quang</article>
                <select>
                  <option value="assets">assets</option>
                  <option value="private">private</option>
                </select>
              </div>
            </section>
          </div>
          <div class="modal-input-post">
            <div class="input-post-image-review">
              <div class="btn-delete-image-review">
                <i class="fa-solid fa-xmark"></i>
              </div>
              <img id="imagePreview" src="" />
            </div>
            <div class="modal-input-custom-file-upload">
              <label for="name-image-post">
                <i class="fa-regular fa-image"></i>
              </label>
              <input
                id="name-image-post"
                class="modal-input-post-image"
                type="file"
                accept="image/*"
              />
            </div>
            <textarea
              class="modal-input-post-content"
              placeholder="Nhập nội dung ở đây..."
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
  <!-- 3.6 -->
  <!-- Modal edit-post -->
  <div
    class="modal fade"
    s
    id="modal-edit-post"
    tabindex="-1"
    aria-hidden="true"
  >
    <form action="" method="get" class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit post</h5>
        </div>
        <div class="modal-body">
          <div class="modal-user-post-info">
            <section class="modal-user-post-info-1">
              <a class="modal-user-avatat-post" href="">
                <img
                  class="modal-user-post-image-link"
                  src="./assets/images/no-image.jpg"
                  alt=""
                />
              </a>
              <div class="modal-user-info-detait-post">
                <article class="modal-user-name-post">Tran Thanh Quang</article>
                <select>
                  <option value="assets">assets</option>
                  <option value="private">private</option>
                </select>
              </div>
            </section>
          </div>
          <div class="modal-input-post">
            <div class="input-post-image-review">
              <div class="btn-delete-image-review">
                <i class="fa-solid fa-xmark"></i>
              </div>
              <img id="imagePreview" src="" />
            </div>
            <div class="modal-input-custom-file-upload">
              <label for="name-image-post">
                <i class="fa-regular fa-image"></i>
              </label>
              <input
                id="name-image-post"
                class="modal-input-post-image"
                type="file"
                accept="image/*"
              />
            </div>
            <textarea
              class="modal-input-post-content"
              placeholder="Nhập nội dung ở đây..."
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</section>
