<div class="notification-sys" *ngIf="login_success" id="notification-sys">
    <button (click)="closeNotification()"><i class="fa-solid fa-xmark"></i></button>
    <span>{{login_message}}</span>
</div>
<section class="out-range-login">
  <section class="login-form-layout">
    <h1>Login</h1>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login($event)">
      <div class="logo">
        <a href=""><img src="assets/images/logo.png" alt="" /></a>
      </div>
      <div class="range-input">
        <div class="input-user">
          <input
            type="email"
            name="email"
            placeholder="Your email"
            required
            formControlName="email"
          />
          <div
            *ngIf="
              loginForm.get('email')?.touched || loginForm.get('email')?.dirty
            "
          >
            <small class="text-danger" *ngIf="loginForm.get('email')?.errors">
              <ng-container
                *ngIf="loginForm.get('email')?.errors?.['required'] || loginForm.get('email')?.errors?.['pattern']"
              >
                Email nhập không hợp lệ.<br />
              </ng-container>
              <ng-container
                *ngIf="loginForm.get('email')?.errors?.['minlength'] || loginForm.get('email')?.errors?.['maxlength']"
              >
                Độ dài Email dài từ 6 đến 30 ký tự.
              </ng-container>
            </small>
          </div>
          <input
            type="password"
            name="password"
            placeholder="Your password"
            required
            formControlName="password"
          />
          <div *ngIf="(loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
            <small class="text-danger" *ngIf="loginForm.get('password')?.errors">
                <ng-container
                    *ngIf="loginForm.get('password')?.errors?.['required'] || loginForm.get('password')?.errors?.['pattern']">
                    Mật khẩu phải có chữ Hoa và thường và ký tự số.<br></ng-container>
                <ng-container
                    *ngIf="loginForm.get('password')?.errors?.['minlength'] || loginForm.get('password')?.errors?.['maxlength']">
                    Độ dài password phải từ 6 đến 25 ký tự.</ng-container>
            </small>
        </div>
        </div>
        <div class="button-log-range">
          <button type="submit" class="btn-login">Login</button>
          <button type="button" (click)="navigateToLogin()" class="btn-register" >Register</button>
        </div>
        <div class="forgot">
          <div class="remember-me">
            <input type="checkbox" id="remember" name="remember" />
            <label for="remember">Remember</label>
          </div>
          <a href=""  >Forgot password?</a>
        </div>
      </div>
    </form>
  </section>
</section>
<!-- END PAGE LOGIN  -->
