<!-- 1 -->
<!-- PAGE LOGIN  -->
<section  class="out-range-login">
    <section class="login-form-layout">
        <h1>Login</h1>
        <form class="login-form">
            <div class="logo">
                <a href=""><img src="assets/images/logo.png" alt=""></a>
            </div>
            <div class="range-input">
                <div class="input-user">
                    <input type="email" name="email" placeholder="Your email" required>
                    <input type="password" name="password" placeholder="Your password" required>
                </div>
                <div class="button-log-range">
                    <button type="submit" class="btn-login">Login</button>
                    <button type="button" class="btn-register">Register</button>
                </div>
                <div class="forgot">
                    <div class="remember-me">
                        <input type="checkbox" id="remember" name="remember">
                        <label for="remember">Remember</label>
                    </div>
                    <a href="">Forgot password?</a>
                </div>
            </div>
        </form>
    </section>
</section>
<!-- END PAGE LOGIN  -->
