<div class="right-content">
  <section class="right-space">
  </section>
  <section class="content-right-space">
    <article>Danh sach dang hoat dong</article>
    <div *ngIf="isFriendsLoaded; else loading">
      <!-- Kiểm tra nếu danh sách bạn bè trống -->
      <div *ngIf="friends && friends.length === 0">
        <p>Chưa có bạn bè.</p>
      </div>

      <!-- Hiển thị danh sách bạn bè nếu có -->
      <div *ngIf="friends && friends.length > 0">
        <div class="list-friend-active" *ngFor="let friend of friends">
          <div class="item-friend" *ngIf="friend.url; else noImage">
            <div class="item-friend-image">
              <img src="/assets/images/{{friend.url}}" alt="">
            </div>
            <div class="item-friend-info">
              <span>{{ friend.name }}</span>
              <span>Đang hoạt động</span>
            </div>
            <button class="btn-ban-user">
              <i class="fa-solid fa-ban"></i>
            </button>
          </div>
          <ng-template #noImage>
            <div class="item-friend">
              <div class="item-friend-image">
                <img src="/assets/images/no-image.jpg" alt="">
              </div>
              <div class="item-friend-info">
                <span>{{ friend.name }}</span>
                <span>Đang hoạt động</span>
              </div>
              <button class="btn-ban-user">
                <i class="fa-solid fa-ban"></i>
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- Template thay thế khi đang tải danh sách -->
    <ng-template #loading>
      <p>Đang tải danh sách bạn bè...</p>
    </ng-template>

    <div class="wrapper-request">
      <article>Request</article>
      <div class="item-request">
        <img class="item-request-image" src="/assets/images/no-image.jpg" alt="">
        <div class="item-request-info">
          <span class="item-request-info-name">
            Tran Thanh Quang
          </span>
        </div>
        <div class="item-respon-request">
          <button class="item-respon-confirm"><i class="fa-solid fa-check"></i></button>
          <button class="item-respon-delete"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </div>

  </section>
</div>