<!-- 3 -->
<section class="all-content-page">
    <app-header></app-header>
    <main>
        <div class="wrapper-posts tab-menu">
            <!-- TAB LEFT CONTENT  -->
            <app-wrapper-left></app-wrapper-left>
            <!-- END TAB LEFT CONTENT -->
            <div class="main-content active wrapper-notification">
                <article>Danh sach thong bao ban be</article>
                <div class="notification-friend">
                    <div class="item-notification-friend">
                        <div class="notification-image-friend">
                            <img src="/assets/images/no-image.jpg" alt="">
                        </div>
                        <div class="notification-content">
                            <a href="">Tran Thanh Quang</a><span> Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.
                                Illum fugit quibusdam, id neque corporis esse voluptates aliquam? Delectus, eveniet
                                itaque minus ratione quas accusantium architecto! Porro delectus ex accusamus
                                architecto.
                            </span>
                        </div>
                    </div>
                    <div class="item-notification-friend">
                        <div class="notification-image-friend">
                            <img src="/assets/images/no-image.jpg" alt="">
                        </div>
                        <div class="notification-content">
                            <a href="">Tran Thanh Quang</a><span> Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.
                                Illum fugit quibusdam, id neque corporis esse voluptates aliquam? Delectus, eveniet
                                itaque minus ratione quas accusantium architecto! Porro delectus ex accusamus
                                architecto.
                            </span>
                        </div>
                    </div>
                    <div class="item-notification-friend">
                        <div class="notification-image-friend">
                            <img src="/assets/images/no-image.jpg" alt="">
                        </div>
                        <div class="notification-content">
                            <a href="">Tran Thanh Quang</a><span> Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.
                                Illum fugit quibusdam, id neque corporis esse voluptates aliquam? Delectus, eveniet
                                itaque minus ratione quas accusantium architectione quas accusantium architecto!
                                Poione
                                quas accusantium architecto! Poo! Porro delectus ex accusamus
                                architecto.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TAB RESULT SEARCH -->
            <app-wrapper-right></app-wrapper-right>
        </div>
    </main>
    <app-footer></app-footer>
      
    <app-modal-edit-post></app-modal-edit-post>
    <app-modal-create-post></app-modal-create-post>
</section>