<!-- 2 -->
<!-- PAGE REGISTER  -->
<section class="out-range-register">
    <section class="register-form-layout">
        <h1>Register</h1>
        <form class="register-form">
            <div class="logo">
                <a href=""><img src="assets/images/logo.png" alt=""></a>
            </div>
            <div class="range-input">
                <div class="input-user">

                    <input type="name" name="name" placeholder="Your Name" required>

                    <input type="email" name="email" placeholder="Your email" required>

                    <input type="password" name="password" placeholder="Your password" required>
                </div>
                <div class="button-log-range">
                    <a href="" class="have-acc">Already have an account</a>
                    <button type="button" class="btn-register">Submit</button>
                </div>
            </div>
        </form>
    </section>
</section>
<!-- END PAGE REGISTER  -->